.file{
  height: 50px;
  width: 300px;
  border: #aaa 1px solid;
  color: #777;
  border-radius: 5px;
  display: flex;
  cursor: pointer;
  text-decoration: none;
  margin: 10px 0;
 
  .icon{
    display: flex;
    align-items: center;
    padding-left: 20px;
    width: 30%;

    ion-icon{
      font-size: 30px;
    }
  }

  &:focus{
    border: var(--ion-color-primary) 1px solid;
    color: var(--ion-color-primary);
    background-color: rgba(var(--ion-color-primary-rgb), 0.1);
    transition: all 0.3s ease-in;
  }

  .current-index{
    border: var(--ion-color-primary) 1px solid;
  }

}