.seller-details{
    margin-bottom: 40px;
    background-color: var(--ion-color-light);
    color: var(--ion-color-light-contrast);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, .2);


    .toolbar{
      width: 100%;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 0 10px;
      background-color: var(--ion-color-toolbar);
      color: var(--ion-color-toolbar-contrast);
      box-shadow: 0 7px 10px 0 rgba(0, 0, 0, .2);

    }
  
  .container{
    padding: 10px;

    .dp{
      padding: 10px;
      ion-avatar{
        height: 150px;
        width: 150px;
        margin: 0 auto;
      }
    }

    .details{
      padding-bottom: 50px;
      border-bottom: 1px #aaa solid;
    }

    .actions{
      padding: 10px 20px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap;

      .action-btn{
        text-transform: none;
      }
    }
  }

  @media (min-width: 768px) {
    // &{
    //   box-shadow: 0 0 10px 5px rgba(0, 0, 0, .2);
    // }

    .container{

      .actions{
        justify-content: space-between;
      }
    }
  }
}
