<div class="container" style="overflow: auto; width: 100%; height: 100%;">

  <div class="ion-padding">
    <app-status-viewer [status]="status" (statusChange)="changeStatus($event)"></app-status-viewer>
  </div>
  <br>

  <h2 class="ion-padding ion-text-center">
    <strong>Hot Deals</strong>
  </h2>

  <ion-progress-bar type="indeterminate" *ngIf="isLoading"></ion-progress-bar>
  
  <div class="card-container" *ngIf="status == 'loaded'">
    <ion-grid>
      <ion-row>
        <ion-col class="" *ngFor="let card of cards" size="6" sizeMd="4" sizeLg="3">
          <app-home-item-card
          cardType="shop"
          [cardUrl]="'shops/' + card?.shopid"
          [itemTitle]="card?.shopname"
          [itemImage]="card?.shopimage"
          [itemLocation]="card?.address1"
          >
          </app-home-item-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <app-no-content-viewer class="no-data" *ngIf="status == 'no-data'"></app-no-content-viewer>

  <app-error-viewer *ngIf="status == 'error'" (btnClick)="refresh()"></app-error-viewer>
  
</div>