<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-title>
      Components
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding" style="width: 90%; margin: 0 auto;">

    <div class="files">
      <app-file-select url="components/category-container" fileTitle="Categories"></app-file-select>
      <app-file-select url="components/shop-items-container" fileTitle="Shop Items"></app-file-select>
      <app-file-select url="components/shops-container" fileTitle="Shops"></app-file-select>
      <app-file-select url="components/add-shop" fileTitle="Add Shop"></app-file-select>
      <app-file-select url="components/edit-shop" fileTitle="Edit Shop"></app-file-select>
      <app-file-select url="components/add-goods" fileTitle="Add Goods"></app-file-select>
      <app-file-select url="components/edit-goods" fileTitle="Edit Goods"></app-file-select>
    </div>

  </div>
</ion-content>
